@import "tailwindcss";

body {
  margin: 0;
  padding: 1rem;
}

.prismic-richtext a {
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.prismic-richtext a:hover {
  color: red;
}